extends layout.pug

block content
  body
    div.content
      h1 Add New Book
      form(action='/books/new' method='post' class='main-form')
        ul.error
          if isTitleEmpty
            li • Title is required
          if isAuthorEmpty  
            li • Author is required
        p
          label(for='title') Title
          input#title(name='title' type='text')
        p
          label(for='author') Author
          input#author(name='author' type='text')
        p
          label(for='genre') Genre
          input#genre(name='genre' type='text')
        p
          label(for='year') Year
          input#year(name='year' type='text')
        p.form-buttons
          input(type='submit' value='Add Book')
          a.button(href='/books') Cancel