body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background: #fafafa;
}

p {
  text-align: center;
}

a {
  color: #3b3b3b;
  text-decoration: none;
  /* transition: 0.4s; */
}

a:hover {
  color: black;
}

.content {
  /* max-width: 900px; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-form {
  margin: 0 auto;
}

form .form-buttons {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form {
  margin-top: auto;
  margin-bottom: auto;
}

label {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-left: 4px;
  display: block;
  /* transition: 0.4s; */
  color: #3b3b3b;
  letter-spacing: 1px;
}

a.button, input[type=submit], button[type=submit] {
  color: rgb(255, 255, 255);
  background: #37a0e6;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid #4eb1f3;
}

a.button:hover, input[type=submit]:hover, button[type=submit]:hover {
  color: rgb(255, 255, 255);
  background: #2c86c2;
  border: 1px solid #37a0e6;
  box-shadow: 0px 2px 3px #3b3b3b34;
}

a.button {
  padding-left: 30px;
  padding-right: 30px;
}

button[type=submit] {
  border-radius: 0px 25px 25px 0px; 
}

form .delete-button {
  display: flex;
  justify-content: center;
}

form .delete-button input[type=submit]{
  color: rgb(255, 255, 255);
  border: 1px solid #e95959;
  background: #f76161;
  width: 400px;
}

form .delete-button input[type=submit]:hover{
  color: rgb(255, 255, 255);
  border: 1px solid #993232;
  background: #b63333;
}


th {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  border-bottom: 2px solid rgb(238, 242, 247);
  padding: 5px 20px 5px 10px;
  text-align: left;
  color: #3b3b3b;
  letter-spacing: 1px;
}

tr {
  min-height: 50px;
}

tr:nth-child(1n) {
  background: rgb(255, 255, 255);
}


tr:nth-child(2n) {
  background: rgb(241, 244, 247);
}

td {
  color: #3b3b3b;
  font-size: 16px;
  padding: 7px 10px;
}

input[type=text] {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #585858;
  background-color: #ffffff;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 15px; 
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[name=search] {
  border-radius: 25px 0px 0px 25px;
  margin-right: -1px;
  width: 200px;
}

.error {
  text-align: center;
}

.error ul {
  color: rgb(236, 15, 15);
  display: flex;
  flex-direction: column;
  text-align: left;
}

.content .page-not-found {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 0px;
  font-size: 80px;
}

/* Added by Renato G. Nunes */

.main {
  flex: 1;
}

.content h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  font-size: 36px;
  margin: 25px auto;
  color: #2b2b2b;
}

.head {
  width: 900px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.content span {
  margin-top: 100px; 
  display: block;
  text-align: center;
  font-size: 30px
}

.content .button-return {
  display: block;
  margin: 20px auto;
  /* text-align: center; */
}

.main-table {
  background: #ffffff;
  margin: 0 auto;
  border: 1px solid #ececec;
  border-radius: 8px;
  min-width: 900px;
  box-shadow: 0px 0px 4px #3b3b3b15;
}

.pagination {
  flex-shrink: 0;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.pagination a {
  color: rgb(255, 255, 255);
  background: #37a0e6;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #4eb1f3;
}

.pagination a:hover {
  color: rgb(255, 255, 255);
  background: #2c86c2;
  border: 1px solid #37a0e6;
  box-shadow: 0px 2px 3px #3b3b3b34;
}

.pagination .active {
  color: rgb(255, 255, 255);
  background: #2c86c2;
  border: 1px solid #37a0e6;
  box-shadow: 0px 2px 3px #3b3b3b34;
}

ul {
  list-style-type: none;
  line-height: 1.3em;
  display: flex;
  padding: 0;
}

li {
  margin: 0px 5px;
}